.env
.env*.local
.envrc

.DS_Store

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
/.idea/

node_modules
/dist
src/web/dist

npmrc-temp-file
*.log
.env.override

*.tsbuildinfo

# wt-tests.sh imports wt-cloud as a module
__pycache__/

settings.local*.json
test/scripts/

